@font-face {
    font-family: 'Quicksand-Bold';
    src: url('fonts/Quicksand-Bold.ttf'), format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('fonts/Quicksand-Regular.ttf'), format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url('fonts/Quicksand-Light.ttf'), format('truetype');
    font-weight: 300;
    font-style: normal;
}



html {
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Quicksand';
  margin:0;
  height:100%;
  width:100%;
  background: #1F9EEE;

}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.question {}
.subquestion {
  padding-top: 0;
  padding-bottom: 20px;
  margin-top: -25px;
}

/* DIALOG BOXES*/

#dialogoverlay{
  display: none;
  opacity: .8;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000;
  width: 100%;
  z-index: 10;
}
#dialogbox{
  display: none;
  position: fixed;
  background: none;
  border-radius:7px;
  width:350px;
  z-index: 10;
}
#dialogbox > div{ background:#FFF; margin:8px; }
#dialogbox > div > #dialogboxhead{ background: #ecf0f1; font-size:24px; padding:30px 0 0 0; color:#1366a8; text-align: center; }
#dialogbox > div > #dialogboxbody{ background:#ecf0f1; font-size: 20px; font-weight:bold; padding:5px 10px 15px 10px; color:#1366a8; text-align:center;}
#dialogbox > div > #dialogboxfoot{ background: #ecf0f1; padding:20px; text-align:center; }


.dialog {
  width:275px;
  height: 50px;
  border: none;
  background: #5fb42d;
  padding: 15px 60px;
  color:white;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease;
}

.dialog:hover {
  background: #83c031;
}
.dialog:active {
  background: #3c962b;
}



.logo {
  margin:auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.logo>img {
  width:300px;
}

h1 {
  font-size:30px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: "Quicksand-Bold";
  font-weight: 700;
}

h3 {
  font-family: "Quicksand-Bold";
  font-weight: 700;
  color: #222;
  padding-bottom: 18px;
}

h4 {
  font-family: "Quicksand-Regular";
  font-weight: 400;
  color:#333;
  margin-bottom: 10px;
}



.message {
  font-size: 16px;
  color:#333;
  font-family: "Quicksand-Regular";
  font-weight: 400;
  margin-top: -15px;
  padding-bottom: 15px;
  text-align: justify;
}


.thankyou {

  padding: 20px;
  font-family: "Quicksand-Bold";
      background:white;
      width:240px;
      border: 1px solid
      /*margin-bottom: 50px;*/
      -webkit-box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      -moz-box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      text-align: center;
      margin: 200px auto;
      top:50px;
    }
}


}*/




* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container    {
  font-family:'Quicksand';
  width:600px;
  margin:0px auto 0;
  display:block;
  background:#FFF;
  /*padding:10px 50px 50px;*/
}
h2     {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}

form {
  margin:auto;
}


/* form starting stylings ------------------------------- */

.group        {
  position:relative;
  margin-bottom:45px;
}
input[type=text]        {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:600px;
  border:none;
  color: #2d2d2d;
  border-bottom:1px solid #666;
      -webkit-appearance: none;
    border-radius: 0;
}
input:focus {outline: none;}

input[type=email]        {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:600px;
  border:none;
  color: #2d2d2d;
  border-bottom:1px solid #666;
      -webkit-appearance: none;
    border-radius: 0;
}
input:focus {outline: none;}


.radio-group        {
  position:relative;
  margin-bottom:45px;
}

.text-group {
  position: relative;
  margin-top: -15px;
  margin-bottom: 45px;
}

input[type=radio] {
        /*-webkit-appearance: none;*/
        display: inline-block;
}

textarea         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:600px;
  border:none;
  color: #2d2d2d;
  resize:none;
  border-bottom:1px solid #999;
      -webkit-appearance: none;
    border-radius: 0;
    overflow: hidden;
}
textarea:focus     { outline:none; }

/* LABEL ======================================= */

 label          {
  color:#333;
  font-size:18px;
  font-weight:normal;
/*  position:absolute;*/
  cursor: pointer;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  padding-bottom: 5px;
  display: block;
}



textarea ~ label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

input ~ label          {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
textarea:focus ~ label ,textarea:valid ~ label    {
  top:-15px;
  font-size:14px;
  color:#3b99fc;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#1366a8;
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:600px; }
.bar:before, .bar:after   {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3b99fc;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
  width:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

.controls {
  width:100%;
  text-align: center;
}


.jfk-button {
border:none;
text-transform: uppercase;
background: #5fb42d;
transition: all .001s ease;
color:white;
width:200px;
font-size: 18px;
font-weight: 700;
padding: 15px 20px;
margin-bottom: -20px;
outline: none;
}

.jfk-button:hover {
  background: #57a628;
  outline: none;
}
.jfk-button:active {
  background:#3e8714;
  outline:none;
}

input[type=submit] {
  -webkit-appearance:none;
}
/***************************/

.container {
  background: white;
  border: 1px solid #d7d7d7;
  /*border-top:none;*/
  padding:40px;

}

.col1,
.col2 {
  width:200px;
  display: inline-block;
  padding-left: 40px;
}


::-webkit-input-placeholder {
   font-family: "Quicksand-Regular";
}

:-moz-placeholder { /* Firefox 18- */
    font-family: "Quicksand-Regular";
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: "Quicksand-Regular";
}

:-ms-input-placeholder {
    font-family: "Quicksand-Regular";
}



/*****************************************************************/

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  section {
    padding-bottom: 15px;
  }
    .logo>img {
    width:300px;
  }
    .thankyou {
      margin-top: 200px;
      margin-bottom: 30px;
    }
    .container {
      margin-top: 0px;
      margin-bottom: 30px;
    }
    label {
      display: block;
      padding-bottom: 10px;
      font-size: 15px;
    }
    .col1, .col2 {
      width:200px;
      display: inline-block;
      padding-left: 40px;
    }

}

/* Landscape phones and smaller */
@media (max-width: 480px) {

  section {
    padding-bottom: 15px;
  }
  .logo>img {
    width:180px;
  }
    .container {
      width:310px;
      padding:0;
      margin-top: 0px;
      margin-bottom: 30px;
      position: relative;
    }
    .col1,
    .col2 {
      width:115px;
      display: inline-block;
      padding-left: 20px;
    }
    label {
      display: block;
    }
    .message {
      font-size: 12px;
      padding-top: 25px;
    }
    form{
      padding:15px;
    }
    label {
      font-size: 14px;
      padding-bottom: 10px;
    }
    textarea {
      width: 280px;
    }

    input[type=text]{
      width:280px;
    }
    input[type=email]{
      width:280px;
    }
    .jfk-button {
      margin-bottom: 0;
      width:100%;
      font-size: 15px;
    }
    textarea ~ label {
      font-size: 15px;
    }
    .thankyou {
      padding: 20px;
      background:white;
      background-color: white;
      width:240px;
      border: 1px solid
      /*margin-bottom: 50px;*/
      -webkit-box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      -moz-box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      box-shadow: 2px 2px 4px 0px rgba(92,92,92,1);
      text-align: center;
      margin: 150px auto;
    }
    .bar {
      width: 280px;
    }

}



